<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.edumedia.ball0133.finalApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ball0133_Final</name>
    <description>
        Final project.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Team Kari and Sara
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
